
#header img {
  width: 100%;
}
body {
  background: rgb(63, 57, 66);
}
#total {
  background: white;
  width: 75%;
  margin: 0px auto;
}
.main-divs {
  padding-top: 15px;
  display: inline-block;
}
#text-div {
  padding-top: 15px;
  display: inline-block;
}
.main-divs img {
  width: 590px;
  margin: 10px 20px 10px 20px;
}
#text-div p {
  margin-left: 20px;
    font-size: 22px;
    padding-bottom: 8px;
}
#footer {
  width: 75%;
  margin: 0px auto;
}
#footer img {
  height: 253px;
}

